#ContaBox{
    margin-top: 40px;
}

.conta{
    background-color: #32373b;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    margin: 20px auto;
    transition: 0.5s;
    border: 0px solid #343a40;

}
.conta:hover{
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .6);
}