{%extends 'global/base_blank.html'%}
{% load static %}
{% load formatingtext %}

{% block 'title' %}Palavras chaves{% endblock 'title' %} 

{%block 'css'%}
    <link rel="stylesheet" href="{% static 'global/listagem/css.css' %}">

{%endblock 'css'%}


{% block 'body' %}

    
<div class="container-fluid  h-100">

  <div id="buscador" class="mt-5" >
      <form method="post" class="w-50 mx-auto text-center">
        {% csrf_token %}
          <input type="text" placeholder="Busque seu anúncio" class="form-control" name="nome_anuncio">
          <button class="btn btn-success btn-sm  mt-3 ">Buscar</button>
      </form>
      {% include  'global/partials/_message.html' %}

  </div>

  <div class=" w-50 mx-auto mt-5">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Palavra</th>
            <th scope="col">Repetições</th>
            <th scope="col">Vendas</th>
        </tr>
        </thead>
        <tbody>
        

        {% for anuncio in anuncios  %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{anuncio.palavra}}</td>
                <td>{{anuncio.repeticao}}</td>
                <td>{{anuncio.vendas}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>


 
  <h2 class="text-center">Pesquise algo!</h2>

</div>


{% endblock 'body' %}














</body>
</html>