{%extends 'global/base.html'%}
{% load static %}
{% load formatingtext %}


{% block 'title' %}Minhas Contas{% endblock 'title' %}

    
{% block 'css' %}
<link rel="stylesheet" href="{% static 'contasml/listagem-ml.css' %}">

{% endblock 'css' %}



{% block 'body' %}

<div class="container">

    <div class="w-25 mx-auto text-right">
        <a href="{% url 'autentic' %}" class="btn btn-success btn-block">Criar mais contas</a>
    </div>
    <div  id="ContaBox">
        
    {% if contas %}
        {% for conta in contas.values  %}
        <div class="conta text-light">
            <div class="row">
                <div class="col-8">
                    <h5>{{conta.nome_conta}}</h5>
                <small>{{conta.geracao_access}}</small>
                </div>

                <div class="col-4 text-right">
                    <h6>Status Conta:{{conta.status_account|active_inative}} </h6>

                    {% if not conta.status_account %}
                    <a href="{% url 'refresh' %}" class="btn btn-sm btn-warning">Ativar Conta</a>
                    {% endif %}


                </div>
            </div>
        </div>

        {% endfor %}
    {% endif %}

       

    </div>

</div>


{% endblock 'body' %}
