
.contaml{
    background-color: #f4f4f4;
    box-shadow: 0px 0px 4px 1.5px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;

    width: 100%;
    height: 87px;
    overflow: hidden;
    padding: 5px 18px;
    border-radius: 6px;

    margin: 20px 0px;
    transition: 3s;
    transition-delay: 2.5s;

}

.btn.inativo{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn.ativo{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.contaml:hover{
    transition-delay: 0.8s;
    height: 457px;
    box-shadow: 0px 0px 4px 1.5px rgba(0, 0, 0, .18);
}
.contaml hr{
    background-color: #D9D9D9;
    width: 100%;
    margin: 20px auto;
}
.info-produto,.alteracao-info-produto{
    width: 100%;
}
.alteracao-info-produto textarea{
    width: 80%;
    height: 160px;
    max-height: 160px;
    min-height: 160px;
    margin: auto;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0.5px 0.5px 4px 1px rgba(0, 0, 0, .1);
}
.caixa-alteracao-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caixa-alteracao-info .primeira-alteracao{
    width: 40%;
}
.caixa-alteracao-info h6{
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 0.85em;
}
.segundo-input{
    width: 25%;

}
.terceiro-input{
    width: 25%;
}
.caixa-alteracao-info .form-control{
    margin-right: 30px;
}


.imagem-anuncio{
    width: 70px;
    height: 70px;
    background-color: #d4d4d4;
    border-radius: 8px;
}

.contaml i{
    font-size: 1.8em;
    
}
.contaml H4 {
    font-size: 1em;
    margin-bottom: 0px;
}


.contaml table {
    width: 100%;

}
.contaml table td{
    overflow: hidden;
}
#imagem-anuncio{
    width: 10%;
}
#nome-anuncio{
    width: 40%;
    font-size: 1em;
}
#id_anuncio{
    width: 20%;
}
#button_anuncio i{
    font-size: 1.2em;
}
.contaml table tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}








/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px)
{  

}

/* // Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) 
{  
    

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) 
{  

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{ 
    
}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) 
{ 
    
}




/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
 { 
    
  }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px)
{ 
    nav#navbar-top {
    
        border-radius: 0px 0px 15px 15px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
    }

    #Contas h1{
        font-size: 1.6em;
        margin: 40px 0px;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px)
 { 
    
  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px)
 { 
    
  }

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px)
 { 
    
  }
