{%extends 'global/base.html'%}


{% block 'title' %}Criar conta{% endblock 'title' %}

{% block 'body' %}
    

    <div class="container text-center d-flex align-items-center justify-content-center flex-column">
        <h1 class="display-3">Criar uma  Conta ML</h1>

        <!--#TODO: COLOCAR O ID DINÂMICO E ARRUMAR URL REDIRECT-->
        <a  href="https://auth.mercadolivre.com.br/authorization?response_type=code&client_id=3390239955200836&redirect_uri=https://deletedps2.vercel.app/get_code/" class="btn btn-primary btn-lg">Autenticar</a>
        
        {% include 'global/partials/_message.html' %}
    </div>

    

{% endblock 'body' %}

